<p>
  review-modal works!
</p>


<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Leave a Review</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Your Review</ion-label>
    <ion-textarea [(ngModel)]="reviewText"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Rating</ion-label>
    <ion-select [(ngModel)]="rating">
      <ion-select-option *ngFor="let r of [1, 2, 3, 4, 5]" [value]="r">{{ r }} Stars</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="submitReview()">Submit</ion-button>
</ion-content> -->
