<ion-content [fullscreen]="true">
  <div class="login-container">
    <!-- Login Title -->
    <h2 class="login-title">Login</h2>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
        Please enter a valid email.
      </div>
  
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
        Password must be at least 6 characters long.
      </div>

      <ion-button expand="block" type="submit"  class="login-btn" [disabled]="loginForm.invalid">Login</ion-button>
      <ion-button expand="block" fill="clear" (click)="goToRegister()">Register</ion-button>
    </form>


  </div>
</ion-content>